<html>
    <head>
        <title>Nick's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Nick's Blog</a></h1>
        </div>

        <div>
            <p>выпущено: 30.08.22, 18:15</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>Выпущено: 30.08.22, 18:16</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html